@page "/FileUpload"

@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@inject ILogger<FileUpload> Logger 
@inject IWebHostEnvironment Environment
@inject IConfiguration config

@rendermode InteractiveServer

@inject AuthenticationStateProvider GetAuthenticationStateAsync

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BlazorAppBB.Data
@using BlazorAppBB.Components.Account
@using BlazorAppBB.Components.Layout

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor

@using BlazorAppBB.Services
@inject UserSettings userSettings

<PageTitle>File Upload 1</PageTitle>

<div class="my-background">

<h1>File Upload Example 1</h1>

<p>
    <label>
        Max file size:
        <input type="number" @bind="maxFileSize" />
    </label>
</p>

<p>
    <label>
        Max allowed files:
        <input type="number" @bind="maxAllowedFiles" />
    </label>
</p>

<p>
    <label>
        Upload up to @maxAllowedFiles of up to @maxFileSize bytes here:
        <InputFile OnChange="LoadFiles" multiple accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </label>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
        @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
                    <li>Name: @file.loadedfile.Name</li>
                    <li>Last modified: @file.loadedfile.LastModified.ToString()</li>
                    <li>Size (bytes): @file.loadedfile.Size</li>
                    <li>Content type: @file.loadedfile.ContentType</li>
                </ul>
            </li>
        }
    </ul>
}

@if (errors.Count > 0)
{
    <h2>Errors</h2>
    <ul class="text-danger">
        @foreach (var error in errors)
        {
            <li>@error</li>
        }
    </ul>
}
</div>

@code {

    public class UploadFiles
    {
        public IBrowserFile loadedfile { get; set; } = null;
        public string truestedName { get; set; } = string.Empty;
    }

    private List<UploadFiles> loadedFiles = [];
    private long maxFileSize = 1024 * 1024 * 35;     //5 MByte limit
    private int maxAllowedFiles = 3;
    private bool isLoading;
    private List<string> errors = new();
    private List<string> acceptedFileTypes = new List<string>() { "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" };

    private string? userName;
    private string? AuthenticateduserName = null;
    private ApplicationUser appUser = default!;
    private string? userID;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        AuthenticateduserName = user.Identity!.Name;


        if (HttpContext != null)
        {
            //this function get called twice, the second time with HttpContex set to null!
            //so only accept the first pass

            appUser = await UserAccessor.GetRequiredUserAsync(HttpContext);
            userName = await UserManager.GetUserNameAsync(appUser);
            var userID = await UserManager.GetUserIdAsync(appUser);  //.GetPhoneNumberAsync(appUser);
        }


    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        Logger.LogInformation("User: {userName} Phone Number: {phoneNumber}  GUID {userGuid}", userName!,userID!, userSettings.session_guid);

        if (AuthenticateduserName == null)
        {
            Logger.LogError("Unauthenticated user {userName}",userName);
            errors.Add($"You do not have permission to use this service");
            return;
        }

        isLoading = true;
        loadedFiles.Clear();

        errors.Clear();

        //TBD - Get user information so a sub-directory only for them can be created

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            await LoadFile(file);
        }


        int i = 0;
        foreach (var file in loadedFiles)
        {
            //peform anti-virus scan -- TBD delay for now
            await Task.Delay(TimeSpan.FromMilliseconds(1000));

            try
            {
                if (true)
                {
                    //if scan successful rename the file to the input file name
                    var newpath = Path.Combine(Environment.ContentRootPath, Environment.EnvironmentName, config.GetValue<string>("SafeFileStorage")!, userSettings.session_guid.ToString());
                    var path = Path.Combine(Environment.ContentRootPath, Environment.EnvironmentName, config.GetValue<string>("UnsafeFileStorage")!, userSettings.session_guid.ToString(), file.truestedName);

                    Directory.CreateDirectory(newpath);

                    newpath = Path.Combine(newpath, file.truestedName);

                    File.Move(path, newpath);
                }
            }
            catch (Exception ex)
            {
                Logger.LogError("File: {Filename} Error: {Error}", loadedFiles[i].loadedfile.Name, ex.Message);
                errors.Add($"File: {file.loadedfile.Name} Error: {ex.Message}");
            }

        }

        isLoading = false;

    }

    private async Task LoadFile(IBrowserFile file)
    {
        var path = Path.Combine(Environment.ContentRootPath, Environment.EnvironmentName, config.GetValue<string>("UnsafeFileStorage")!, userSettings.session_guid.ToString());
        var trustedName = Path.ChangeExtension(Path.GetRandomFileName(), Path.GetExtension(file.Name));

        Directory.CreateDirectory(path);
        path = Path.Combine(path, trustedName);

        try
        {
            if (!acceptedFileTypes.Contains(file.ContentType))
            {
                throw new ArgumentException(file.ContentType.ToString() + " type is not allowed");
            }

            await using FileStream fs = new(path, FileMode.Create);
            await using var stream = file.OpenReadStream(maxFileSize);
            await stream.CopyToAsync(fs);

            var uploadFile = new UploadFiles();

            uploadFile.loadedfile = file;
            uploadFile.truestedName = trustedName;

            Logger.LogInformation("Unsafe Filename: {UnsafeFilename} File saved: {Filename}", file.Name, uploadFile.truestedName);
            loadedFiles.Add(uploadFile);

            userSettings.trusted_name = trustedName;

        }
        catch (Exception ex)
        {
            Logger.LogError("File: {Filename} Error: {Error}", file.Name, ex.Message);
            errors.Add($"File: {file.Name} Error: {ex.Message}");   //UI message to user
            File.Delete(path);                                      //remove the offending file
        }

    }

}

 

  