@page "/Account/InputData"

@using BlazorAppBB.Models


<h3>InputData</h3>

   <EditForm Model = "@inputdataModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" FormName="InputDataForm" >
   <DataAnnotationsValidator />
   <ValidationSummary class="text-danger"/>

   <div class="flex-form-container">
   <div class="flex-row">
    <div class="form-group">
        <label>Input String:</label>
        <InputText @bind-Value="inputdataModel.sName" class="form-control" />
        <ValidationMessage For="@(() => inputdataModel.sName)" class="text-danger" />
    </div>

    <div class="form-group">
        <label>Date:</label>
        <InputDate @bind-Value="inputdataModel.sMonth" class="form-control" />
        <ValidationMessage For="@(() => inputdataModel.sMonth)" class="text-danger" />
    </div>
    <div class="form-group">
        <label>Data1:</label>
        <InputNumber @bind-Value="inputdataModel.dData1" class="form-control" />
        <ValidationMessage For="@(() => inputdataModel.dData1)"  class="text-danger" />
    </div>

    <div class="form-group">
        <label>Data2:</label>
        <InputNumber @bind-Value="inputdataModel.dData2" class="form-control" rows="4" />
        <ValidationMessage For="@(() => inputdataModel.dData2)" class="text-danger"/>
    </div>

    <div class="form-group">
        <label>Data3:</label>
        <InputNumber @bind-Value="inputdataModel.dData3" class="form-control" rows="4" />
        <ValidationMessage For="@(() => inputdataModel.dData3)" class="text-danger" />
    </div>

    </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button


    </EditForm>


   
    @if (LastSubmitResult != null)
    {   
  <h2>
    Last submit status: @LastSubmitResult
  </h2>
    }
 
    @if (Submitted)
    {
    <div class="alert alert-success mt-3">
        <p>Thank you. Your data as been accepted and your record updated</p>
    </div>
    }

@code {

    [SupplyParameterFromForm]
    private InputDataModel inputdataModel { get; set; } = new();

    private bool Submitted { get; set; } = false;
    private string message = string.Empty;
    private string LastSubmitResult = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        inputdataModel.sName = "MyName";
        inputdataModel.sMonth = DateOnly.FromDateTime(DateTime.Now);
        inputdataModel.dData1 = 0.75;
        inputdataModel.dData2 = 100.56;
        inputdataModel.dData3 = 745.65;

    }
    private void DataSubmitted(EditContext editContext)
    {
        bool dataIsValid = editContext.Validate();
        LastSubmitResult =  dataIsValid ? "Success - data was valid" : "Failure - data was invalid";

    }

    private void HandleValidSubmit()
    {
        Submitted = true;

        //save the data fields

    }

    private void HandleInvalidSubmit()
    {
        Submitted = false;
    }
}

